{% extends 'base.html' %} {% block title %}Drivers{% endblock %} {% block content %}
<h2 class="text-light">Drivers</h2>

<div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Nationality</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.given_name }}</td>
                <td>{{ driver.family_name }}</td>
                <td>{{ driver.date_of_birth }}</td>
                <td>{{ driver.nationality }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}