<!DOCTYPE html>
{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}
<div class="container-fluid">
    <br /><br />
    <h2 class="text-light">Season: {{ season_year }}</h2>
    <h3 class="text-light">Total Races: {{ total_races }}</h3>
</div>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table table-dark table-hover">
                    <thead class="table table-dark">
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Nationality</th>
                            <th>Constructor</th>
                            <th>Points</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver_standings in drivers_top_3.StandingsLists[0].DriverStandings[0:1] %}
                        <tr class="table-warning" onclick="window.location='https://ide.geeksforgeeks.org/Y4U8qx'">
                            <td>C</td>
                            <td>{{ driver_standings.Driver.givenName }} {{ driver_standings.Driver.familyName }}</td>
                            <td>{{ driver_standings.Driver.nationality }}</td>
                            <td>{{ driver_standings.Constructors[0].name }}</td>
                            <td>{{ driver_standings.points }}</td>
                            <td>{{ driver_standings.wins }}</td>
                        </tr>
                        {% endfor %} {% for driver_standings in drivers_top_3.StandingsLists[0].DriverStandings[1:3] %}
                        <tr>
                            <td>{{ driver_standings.position }}</td>
                            <td>{{ driver_standings.Driver.givenName }} {{ driver_standings.Driver.familyName }}</td>
                            <td>{{ driver_standings.Driver.nationality }}</td>
                            <td>{{ driver_standings.Constructors[0].name }}</td>
                            <td>{{ driver_standings.points }}</td>
                            <td>{{ driver_standings.wins }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-dark table-hover">
                    <thead class="table table-dark">
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Nationality</th>
                            <th>Points</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for constructor_standings in constructor_top_3.StandingsLists[0].ConstructorStandings[0:1] %}
                        <tr class="table-warning">
                            <td>C</td>
                            <td>{{ constructor_standings.Constructor.name}}</td>
                            <td>{{ constructor_standings.Constructor.nationality }}</td>
                            <td>{{ constructor_standings.points }}</td>
                            <td>{{ constructor_standings.wins }}</td>
                        </tr>
                        {% endfor %} {% for constructor_standings in constructor_top_3.StandingsLists[0].ConstructorStandings[1:3] %}
                        <tr>
                            <td>{{ constructor_standings.position }}</td>
                            <td>{{ constructor_standings.Constructor.name}}</td>
                            <td>{{ constructor_standings.Constructor.nationality }}</td>
                            <td>{{ constructor_standings.points }}</td>
                            <td>{{ constructor_standings.wins }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table table-dark table-hover">
        <thead class="table table-dark">
            <tr>
                <th>Round</th>
                <th>Race Name</th>
                <th>Circuit</th>
                <th>Country</th>
                <th>Date</th>
                <th>Winner</th>
                <th>Constructor</th>
                <th>Fastest Lap</th>
            </tr>
        </thead>
        <tbody>
            {% for race in race_results_1st.Races %}
            <tr>
                <td>{{ race.round }}</td>
                <td>{{ race.raceName }}</td>
                <td>{{ race.Circuit.circuitName }}</td>
                <td>{{ race.Circuit.Location.locality }}, {{ race.Circuit.Location.country }}</td>

                <td>{{ race.date }}</td>
                <td>{{ race.Results[0].Driver.givenName}} {{ race.Results[0].Driver.familyName }}</td>
                <td>{{ race.Results[0].Constructor.name}}</td>
                <td>{{ race.Results[0].FastestLap.Time.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
