<!DOCTYPE html>
{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}
<div class="container-fluid">
    <h2 class="text-light">Season: {{ season_year }}</h2>
    <h3 class="text-light">Total Races: {{ total_races }}</h3>
</div>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class="table table-dark table-hover">
                    <thead class="table table-dark">
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Nationality</th>
                            <th>Constructor</th>
                            <th>Points</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver_standings in drivers_top_3.StandingsLists[0].DriverStandings[0:1] %}
                        <tr class="table-warning clickable-row" data-bs-toggle="modal" data-bs-target="#driver_modal" style="cursor: pointer">
                            <td>C</td>
                            <td>{{ driver_standings.Driver.givenName }} {{ driver_standings.Driver.familyName }}</td>
                            <td>{{ driver_standings.Driver.nationality }}</td>
                            <td>{{ driver_standings.Constructors[0].name }}</td>
                            <td>{{ driver_standings.points }}</td>
                            <td>{{ driver_standings.wins }}</td>
                        </tr>
                        {% endfor %} {% for driver_standings in drivers_top_3.StandingsLists[0].DriverStandings[1:3] %}
                        <tr class="table-dark clickable-row" data-bs-toggle="modal" data-bs-target="#driver_modal" style="cursor: pointer">
                            <td>{{ driver_standings.position }}</td>
                            <td>{{ driver_standings.Driver.givenName }} {{ driver_standings.Driver.familyName }}</td>
                            <td>{{ driver_standings.Driver.nationality }}</td>
                            <td>{{ driver_standings.Constructors[0].name }}</td>
                            <td>{{ driver_standings.points }}</td>
                            <td>{{ driver_standings.wins }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-dark table-hover">
                    <thead class="table table-dark">
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Nationality</th>
                            <th>Points</th>
                            <th>Wins</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for constructor_standings in constructor_top_3.StandingsLists[0].ConstructorStandings[0:1] %}
                        <tr class="table-warning clickable-row" data-bs-toggle="modal" data-bs-target="#constructor_modal" style="cursor: pointer">
                            <td>C</td>
                            <td>{{ constructor_standings.Constructor.name}}</td>
                            <td>{{ constructor_standings.Constructor.nationality }}</td>
                            <td>{{ constructor_standings.points }}</td>
                            <td>{{ constructor_standings.wins }}</td>
                        </tr>
                        {% endfor %} {% for constructor_standings in constructor_top_3.StandingsLists[0].ConstructorStandings[1:3] %}
                        <tr class="table-dark clickable-row" data-bs-toggle="modal" data-bs-target="#constructor_modal" style="cursor: pointer">
                            <td>{{ constructor_standings.position }}</td>
                            <td>{{ constructor_standings.Constructor.name}}</td>
                            <td>{{ constructor_standings.Constructor.nationality }}</td>
                            <td>{{ constructor_standings.points }}</td>
                            <td>{{ constructor_standings.wins }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <table class="table table-dark table-hover">
        <thead class="table table-dark">
            <tr>
                <th>Round</th>
                <th>Race Name</th>
                <th>Circuit</th>
                <th>Country</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for race in race_results.Races %}
            <tr class="table-dark clickable-row" data-bs-toggle="modal" data-bs-target="#raceModal{{ race.round }}" style="cursor: pointer">
                <td>{{ race.round }}</td>
                <td>{{ race.raceName }}</td>
                <td>{{ race.Circuit.circuitName }}</td>
                <td>{{ race.Circuit.Location.locality }}, {{ race.Circuit.Location.country }}</td>
                <td>{{ race.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Race Modal -->
    {% for race in race_results.Races %}
    <div class="modal fade" id="raceModal{{ race.round }}" tabindex="-1" aria-labelledby="raceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="raceModalLabel">{{ race.raceName }} - Round {{ race.round }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-light">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th>Name</th>
                                    <th>Nationality</th>
                                    <th>Constructor</th>
                                    <th>Points</th>
                                    <th>Status</th>
                                    <th>Fastest Lap</th>
                                    <th>Grid Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in race.Results %}
                                <tr>
                                    <td>{{ result.position }}</td>
                                    <td>{{ result.Driver.givenName}} {{ result.Driver.familyName }}</td>
                                    <td>{{ result.Driver.nationality }}</td>
                                    <td>{{ result.Constructor.name }}</td>
                                    <td>{{ result.points }}</td>
                                    <td>{{ result.status }}</td>
                                    {% if result.FastestLap %}
                                    <td>{{ result.FastestLap.Time.time }}</td>
                                    {% else %}
                                    <td>N/A</td>
                                    {% endif %} {% if result.grid and result.position %} {% set difference = result.grid | int - result.position | int %} {% if difference < 0 %}
                                    <td><i class="bi bi-arrow-down-square-fill text-danger"></i> {{ result.grid }} ({{ difference }})</td>
                                    {% elif difference == 0 %}
                                    <td><i class="bi bi-dash-square-fill text-warning"></i> {{ result.grid }} ({{ difference }})</td>
                                    {% else %}
                                    <td><i class="bi bi-arrow-up-square-fill text-success"></i> {{ result.grid }} ({{ difference }})</td>
                                    {% endif %} {% else %}
                                    <td>N/A</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Drivers Modal -->
<div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" id="driver_modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{{ season_year }} Driver Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>Nationality</th>
                                <th>Constructor</th>
                                <th>Points</th>
                                <th>Wins</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for driver_standings in drivers_top_3.StandingsLists[0].DriverStandings %}
                            <tr>
                                <td>{{ driver_standings.position }}</td>
                                <td>{{ driver_standings.Driver.givenName }} {{ driver_standings.Driver.familyName }}</td>
                                <td>{{ driver_standings.Driver.nationality }}</td>
                                <td>{{ driver_standings.Constructors[0].name }}</td>
                                <td>{{ driver_standings.points }}</td>
                                <td>{{ driver_standings.wins }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Constructors Modal -->
<div class="modal fade" tabindex="-1" role="dialog" data-bs-backdrop="static" id="constructor_modal">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{{ season_year }} Constructor Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>Nationality</th>
                                <th>Points</th>
                                <th>Wins</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for constructor_standings in constructor_top_3.StandingsLists[0].ConstructorStandings %}
                            <tr>
                                <td>{{ constructor_standings.position }}</td>
                                <td>{{ constructor_standings.Constructor.name}}</td>
                                <td>{{ constructor_standings.Constructor.nationality }}</td>
                                <td>{{ constructor_standings.points }}</td>
                                <td>{{ constructor_standings.wins }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
