<!DOCTYPE html>
{% extends 'base.html' %} {% block title %}Latest Meeting{% endblock %} {% block content %}
<div class="container-fluid"></div>
<div>
    <div class="container-fluid">
        <div class="col">
            <div class="bg-white pb-3 rounded-4 shadow card2">
                <h4 class="text-light bg-danger rounded-top-4 p-2 text-center">{{ latest_meeting_session_data.location }} - {{latest_meeting_session_data.session_name }}</h4>
                <table class="table table-hover">
                    <thead class="table">
                        <tr>
                            <th></th>
                            <th>Full Name</th>
                            <th>Position</th>
                            <th>Driver Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clickable-row">
                            <td><img src="{{ latest_meeting_driver_data.headshot_url }}" /></td>
                            <td>{{ latest_meeting_driver_data.full_name.title() }}</td>
                            <td>{{ latest_meeting_position_data.position }}</td>
                            <td>{{ latest_meeting_position_data.driver_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="bg-white pb-3 rounded-4 shadow card2">
                {% for radio in latest_meeting_radio_data %}
                <audio controls>
                    <source src="{{ radio.recording_url}}" type="audio/mpeg" />
                </audio>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}
</div>
