<!DOCTYPE html> {% extends 'base.html' %} {% block title %}User Profile{% endblock %} {% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="bg-white pb-3 rounded-4 shadow card2">
                    <h4 class="text-light bg-danger rounded-top-4 p-2 text-center">User Profile</h4>
                    <div class="container p-4">
                        <div class="row">
                            <div class="col text-center">
                                <img src="{{ url_for('static', filename='avatar-3814049_1280.png') }}" height="45" class="rounded-circle mb-2" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <h4 class="ps-2">{{ current_user.username }}</h4>
                            </div>
                            <div class="container p-3">
                                <div class="border border-bottom"></div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <p class="text-dark fw-lighter mt-2"><i class="bi bi-envelope text-danger"></i> {{current_user.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <i class="bi bi-file-person text-danger"></i>
                                <p class="text-dark fw-lighter">{{ driver_surname}}</p>
                            </div>
                            <div class="col">
                                <i class="bi bi-tools text-danger"></i>
                                <p class="text-dark fw-lighter">{{ current_user.favourite_team.capitalize()}}</p>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <button type="button" id="update_driver" class="btn btn-outline-danger btn-sm">Edit</button>
                            </div>
                            <div class="col">
                                <button type="button" id="update_constructor" class="btn btn-outline-danger btn-sm">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <div class="bg-white pb-3 rounded-4 shadow card2">
                            <h4 class="text-light bg-danger rounded-top-4 p-2 text-center">Driver Profile</h4>
                            <div class="container p-4">
                                <div class="row">
                                    <div class="col align-self-center text-center">
                                        <h4 class="ps-2">{{ driver_first_name + " " + driver_surname }}</h4>
                                    </div>
                                </div>
                                <div class="container p-3">
                                    <div class="border border-bottom"></div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <p class="text-dark fw-lighter"><i class="bi bi-globe-americas text-danger"></i> {{ nationality }}</p>
                                        <p class="text-dark fw-lighter"><i class="bi bi-calendar-date text-danger"></i> {{ dob }}</p>
                                        <p class="text-dark fw-lighter"><i class="bi bi-hash text-danger"></i> {{ driver_number }}</p>
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-dark fw-lighter"><i class="bi bi-trophy text-danger"></i> {{ driver_championships }}</p>
                                        <p class="text-dark fw-lighter"><i class="bi bi-1-square text-danger"></i> {{ total_wins }}</p>
                                        <p class="text-dark fw-lighter"><i class="bi bi-rocket text-danger"></i> {{ sprint_wins }}</p>
                                    </div>
                                    <div class="row pb-2">
                                        <div class="col-auto"><i class="bi bi-globe text-danger"></i><a class="text-dark fw-lighter" href="{{ wiki }}"> Wikipedia</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bg-white pb-3 rounded-4 shadow card2">
                            <h4 class="text-light bg-danger rounded-top-4 p-2 text-center">Constructor Profile</h4>
                            <div class="container p-4">
                                <div class="row just-content-center">
                                    <div class="col align-self-center text-center">
                                        <h4 class="ps-2">{{ constructor_name }}</h4>
                                    </div>
                                </div>
                                <div class="container p-3">
                                    <div class="border border-bottom"></div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="text-dark fw-lighter"><i class="bi bi-globe-americas text-danger"></i> {{ constructor_nationality }}</p>
                                    </div>
                                    <div class="col">
                                        <p class="text-dark fw-lighter"><i class="bi bi-trophy text-danger"></i>wins</p>
                                    </div>
                                    <div class="row pb-2">
                                        <div class="col-auto"><i class="bi bi-globe text-danger"></i><a class="text-dark fw-lighter" href="{{ constructor_wiki }}"> Wikipedia</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-3 ps-5 pe-5 pb-5">
                <div class="accordion shadow" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Favourite Driver</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="container-fluid">
                                    <div class="table-responsive2">
                                        <table class="table table-hover caption-top">
                                            <caption>
                                                {{ driver_first_name + " " + driver_surname }} Season Stats
                                            </caption>
                                            <thead>
                                                <tr>
                                                    <th>Season</th>
                                                    <th>Total Races</th>
                                                    <th>Races Finished</th>
                                                    <th>Average Grid Position</th>
                                                    <th>Average Finish Position</th>
                                                    <th>Total Points</th>
                                                    <th>Average Points</th>
                                                    <th>Final Position</th>
                                                    <th>Constructor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for season, data in season_data.items() %} {% if data['final_position'] == 1%}
                                                <tr class="table-warning">
                                                    <td>{{ season }}</td>
                                                    <td>{{ data['total_races'] }}</td>
                                                    <td>{{ data['races_finished'] }}</td>
                                                    <td>{{ data['average_grid_position']|round(2) }}</td>
                                                    {% if data['average_grid_position']|round(2) < data['average_finishing_position']|round(2) %}
                                                    <td>{{ data['average_finishing_position']|round(2) }} <i class="bi bi-arrow-down-square-fill text-danger"></i></td>
                                                    {% elif data['average_grid_position']|round(2) == data['average_finishing_position']|round(2)%}
                                                    <td>{{ data['average_finishing_position']|round(2) }} <i class="bi bi-dash-square-fill text-warning"></i></td>
                                                    {% else %}
                                                    <td>{{ data['average_finishing_position']|round(2) }} <i class="bi bi-arrow-up-square-fill text-success"></i></td>
                                                    {% endif %}
                                                    <td>{{ data['total_points'] + data['total_sprint_points']|round(1) }}</td>
                                                    <td>{{ '%.2f' % ((data['total_points'] + data['total_sprint_points']) / (data['total_races'] + data['total_sprint_races'])) }}</td>
                                                    <td>C</td>
                                                    <td>{{ data['constructor'] }}</td>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <td>{{ season }}</td>
                                                    <td>{{ data['total_races'] }}</td>
                                                    <td>{{ data['races_finished'] }}</td>
                                                    <td>{{ data['average_grid_position']|round(2) }}</td>
                                                    {% if data['average_grid_position']|round(2) < data['average_finishing_position']|round(2) %}
                                                    <td>{{ data['average_finishing_position']|round(2) }} <i class="bi bi-arrow-down-square-fill text-danger"></i></td>
                                                    {% elif data['average_grid_position']|round(2) == data['average_finishing_position']|round(2)%}
                                                    <td>{{ data['average_finishing_position']|round(2) }} <i class="bi bi-dash-square-fill text-warning"></i></td>
                                                    {% else %}
                                                    <td>{{ data['average_finishing_position']|round(2) }} <i class="bi bi-arrow-up-square-fill text-success"></i></td>
                                                    {% endif %}
                                                    <td>{{ data['total_points'] + data['total_sprint_points']|round(1) }}</td>
                                                    <td>{{ '%.2f' % ((data['total_points'] + data['total_sprint_points']) / (data['total_races'] + data['total_sprint_races'])) }}</td>
                                                    <td>{{ data['final_position'] }}</td>
                                                    <td>{{ data['constructor'] }}</td>
                                                </tr>
                                                {% endif %} {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Favourite Team</button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>{{ current_user.favourite_team }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
